org.talend.mdm.workbench/wsdl/xtentis-transformers-v2.xsd

<xsd:schema 
	elementFormDefault="unqualified"
	targetNamespace="urn-com-amalto-xtentis-webservice"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="urn-com-amalto-xtentis-webservice"
	>
	
	<!-- *****************************************************
		Transformer V2 Objects
		*******************************************************-->
	<xsd:complexType name="WSTransformerContext">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerPK" type="tns:WSTransformerV2PK"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="pipeline">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="pipelineItem" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element minOccurs="1" maxOccurs="1" nillable="false" name="variable" type="xsd:string"/>
									<xsd:element minOccurs="1" maxOccurs="1" nillable="true" name="wsTypedContent" type="tns:WSTypedContent"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element minOccurs="0" maxOccurs="1"  nillable="false" name="projectedItemPKs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="wsItemPOJOPK" minOccurs="1" maxOccurs="unbounded" nillable="false" type="tns:WSItemPK"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerContext" type = "tns:WSTransformerContext"/>	
		
	
	<xsd:complexType name="WSTransformerVariablesMapping">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="pipelineVariable" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="pluginVariable" type="xsd:string"/>
			<xsd:element minOccurs="0" maxOccurs="1"  nillable="true" name="hardCoding" type="tns:WSTypedContent"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerVariablesMapping" type = "tns:WSTransformerVariablesMapping"/>	

	<xsd:complexType name="WSTransformerProcessStep">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="PluginJNDI" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="description" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="parameters" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="unbounded"  nillable="true" name="inputMappings" type="tns:WSTransformerVariablesMapping"/>
			<xsd:element minOccurs="1" maxOccurs="unbounded"  nillable="true" name="outputMappings" type="tns:WSTransformerVariablesMapping"/>
			<xsd:element minOccurs="0" maxOccurs="1"  nillable="false" name="disabled" type="xsd:boolean"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerProcessStep" type = "tns:WSTransformerProcessStep"/>	
	
	<xsd:complexType name="WSTransformerV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="name" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="description" type="xsd:string"/>
			<xsd:element minOccurs="0" maxOccurs="unbounded"  nillable="false" name="processSteps" type="tns:WSTransformerProcessStep"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerV2" type = "tns:WSTransformerV2"/>	
	
	<xsd:complexType name="WSTransformerV2PK">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="pk" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerV2PK" type="tns:WSTransformerV2PK"/>		
	
	<xsd:complexType name="WSTransformerV2PKArray">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="unbounded"  nillable="false" name="wsTransformerV2PK" type="tns:WSTransformerV2PK"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerV2PKArray" type = "tns:WSTransformerV2PKArray"/>

	<!-- *****************************************************
		TransformerV2 Operations
		*******************************************************-->
	
	
	<xsd:complexType name="WSGetTransformerV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerV2PK" type="tns:WSTransformerV2PK"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSGetTransformerV2" type="tns:WSGetTransformerV2"/>
	
	<xsd:complexType name="WSExistsTransformerV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerV2PK" type="tns:WSTransformerV2PK"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSExistsTransformerV2" type="tns:WSExistsTransformerV2"/>
	
	<xsd:complexType name="WSPutTransformerV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerV2" type="tns:WSTransformerV2"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSPutTransformerV2" type="tns:WSPutTransformerV2"/>
	
	<xsd:complexType name="WSDeleteTransformerV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerV2PK" type="tns:WSTransformerV2PK"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSDeleteTransformerV2" type="tns:WSDeleteTransformerV2"/>
	
	<xsd:complexType name="WSGetTransformerV2PKs">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="regex" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSGetTransformerV2PKs" type="tns:WSGetTransformerV2PKs"/>
	
	<xsd:complexType name="WSExecuteTransformerV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="wsTransformerContext" type="tns:WSTransformerContext"/>
			<xsd:element minOccurs="0" maxOccurs="1"  nillable="true" name="wsTypedContent" type="tns:WSTypedContent"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSExecuteTransformerV2" type="tns:WSExecuteTransformerV2"/>
	
	<xsd:complexType name="WSExecuteTransformerV2AsJob">
		<xsd:annotation>
			<xsd:documentation>
				Starts the execution of a transformer as a background job and return the PK of a Background Job
				The result must be obtained by reading the content of the BackgroundJob
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerContext" type="tns:WSTransformerContext"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSExecuteTransformerV2AsJob" type="tns:WSExecuteTransformerV2AsJob"/>	
	
	<xsd:complexType name="WSExtractThroughTransformerV2">
		<xsd:annotation>
			<xsd:documentation>
				Extracts data through a Transformer
				The item content is mapped to the _DEFAULT_ transformer variable
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsItemPK" type="tns:WSItemPK"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="wsTransformerV2PK" type="tns:WSTransformerV2PK"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSExtractThroughTransformerV2" type="tns:WSExtractThroughTransformerV2"/>
	
	<!-- *****************************************************
		Transformer Plugins V2 - Objects
		*******************************************************-->
	
	<xsd:complexType name="WSExistsTransformerPluginV2">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="jndiName" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSExistsTransformerPluginV2" type="tns:WSExistsTransformerPluginV2"/>
	
	
	<xsd:complexType name="WSTransformerPluginV2PutConfiguration">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="jndiName" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="configuration" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerPluginV2PutConfiguration" type="tns:WSTransformerPluginV2PutConfiguration"/>
	
	<xsd:complexType name="WSTransformerPluginV2GetConfiguration">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="jndiName" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="optionalParameter" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerPluginV2GetConfiguration" type="tns:WSTransformerPluginV2GetConfiguration"/>
	
	<xsd:complexType name="WSTransformerPluginV2VariableDescriptor">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="variableName" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="mandatory" type="xsd:boolean"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="description" type="xsd:string"/>
			<xsd:element minOccurs="0" maxOccurs="unbounded"  nillable="true" name="contentTypesRegex" type="xsd:string"/>
			<xsd:element minOccurs="0" maxOccurs="unbounded"  nillable="true" name="possibleValuesRegex" type="xsd:string"/>
		</xsd:sequence>				
	</xsd:complexType>
	<xsd:element name="WSTransformerPluginV2VariableDescriptor" type="tns:WSTransformerPluginV2VariableDescriptor"/>
	
	<xsd:complexType name="WSTransformerPluginV2Details">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="unbounded"  nillable="false" name="inputVariableDescriptors" type="tns:WSTransformerPluginV2VariableDescriptor"/>
			<xsd:element minOccurs="0" maxOccurs="unbounded"  nillable="false" name="outputVariableDescriptors" type="tns:WSTransformerPluginV2VariableDescriptor"/>			
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="description" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="documentation" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="parametersSchema" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerPluginV2Details" type = "tns:WSTransformerPluginV2Details"/>	
	
	<xsd:complexType name="WSGetTransformerPluginV2Details">
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="jndiName" type="xsd:string"/>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="language" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSGetTransformerPluginV2Details" type="tns:WSGetTransformerPluginV2Details"/>
	
	<xsd:complexType name="WSTransformerPluginV2sList">
		<xsd:sequence >
			<xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"  nillable="false" name="jndiName" type="xsd:string"/>
						<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="description" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSTransformerPluginV2sList" type="tns:WSTransformerPluginV2sList"/>
	
	<!-- *****************************************************
		Transformer Plugins V2 - Operations
		*******************************************************-->
	
	<xsd:complexType name="WSGetTransformerPluginV2sList">
		<xsd:annotation>
			<xsd:documentation>
				Returns the list of available Transformer Plugins in a WSTransformerPluginV2sList 
				that provides their JNDI Name and Description in the requested language
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="1" maxOccurs="1"  nillable="true" name="language" type="xsd:string"/>
		</xsd:sequence>		
	</xsd:complexType>
	<xsd:element name="WSGetTransformerPluginV2sList" type="tns:WSGetTransformerPluginV2sList"/>
	
	
</xsd:schema>