org.talend.mdm.commons.core/src/WEB-INF/Resources/DataModels/configuration.xsd

<xsd:schema attributeFormDefault="unqualified" blockDefault="" elementFormDefault="unqualified" finalDefault="" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element abstract="false" name="Configuration" nillable="false">
        <xsd:complexType mixed="false">
            <xsd:sequence maxOccurs="1" minOccurs="1">
                <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ActiveConfiguration" nillable="false" type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="1" name="b2boxConfiguration" nillable="false">
                    <xsd:complexType mixed="false">
                        <xsd:sequence maxOccurs="1" minOccurs="1">
                            <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="false" type="DESCRIPTION"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="DataCluster" nillable="false" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="0" name="DataModel" nillable="false" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="DateFormat" nillable="false" type="xsd:string"/>
                            <xsd:element maxOccurs="1" minOccurs="1" name="ListOfDocuments" nillable="false">
                                <xsd:complexType mixed="false">
                                    <xsd:sequence maxOccurs="1" minOccurs="1">
                                        <xsd:element maxOccurs="unbounded" minOccurs="1" name="Document" nillable="false">
                                            <xsd:complexType mixed="false">
                                                <xsd:sequence maxOccurs="1" minOccurs="1">
                                                    <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string"/>
                                                    <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="false" type="DESCRIPTION"/>
                                                    <xsd:element maxOccurs="1" minOccurs="1" name="ConceptName" nillable="false" type="xsd:string"/>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="DataModel" nillable="false" type="xsd:string"/>
                                                    <xsd:element maxOccurs="1" minOccurs="0" name="DataCluster" nillable="false" type="xsd:string"/>
                                                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfKeys" nillable="false">
                                                        <xsd:complexType mixed="false">
                                                            <xsd:sequence maxOccurs="1" minOccurs="1">
                                                                <xsd:element maxOccurs="unbounded" minOccurs="1" name="Key" nillable="false" type="XPATH_ELEMENT"/>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfViewables" nillable="false">
                                                        <xsd:complexType mixed="false">
                                                            <xsd:sequence maxOccurs="1" minOccurs="1">
                                                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Viewable" nillable="false">
                                                                    <xsd:complexType mixed="false">
                                                                        <xsd:sequence maxOccurs="1" minOccurs="1">
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string"/>
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="false" type="DESCRIPTION"/>
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="XPath" nillable="false" type="xsd:string"/>
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="Type" nillable="false" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                    <xsd:element maxOccurs="1" minOccurs="1" name="ListOfSearchables" nillable="false">
                                                        <xsd:complexType mixed="false">
                                                            <xsd:sequence maxOccurs="1" minOccurs="1">
                                                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Searchable" nillable="false">
                                                                    <xsd:complexType mixed="false">
                                                                        <xsd:sequence maxOccurs="1" minOccurs="1">
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string"/>
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="false" type="DESCRIPTION"/>
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="XPath" nillable="false" type="xsd:string"/>
                                                                            <xsd:element maxOccurs="1" minOccurs="1" name="Type" nillable="false" type="DATA_TYPE"/>
                                                                        </xsd:sequence>
                                                                    </xsd:complexType>
                                                                </xsd:element>
                                                            </xsd:sequence>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Configuration">
            <xsd:selector xpath="."/>
            <xsd:field xpath="Name"/>
        </xsd:unique>
    </xsd:element>
    <xsd:complexType abstract="false" mixed="false" name="DESCRIPTION">
        <xsd:all maxOccurs="1" minOccurs="1">
            <xsd:element maxOccurs="1" minOccurs="0" name="EN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ES" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AB" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AF" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SQ" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AM" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HY" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AY" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="AZ" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DZ" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BH" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BG" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MY" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BE" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KM" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ZH" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ET" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FJ" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="FY" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="DE" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="EL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IW" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="HU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IE" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IK" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="IT" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="JA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="JI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="JW" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KK" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RW" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KY" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="KU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LV" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="LT" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MK" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MG" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ML" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MT" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GV" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="MN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NE" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="NO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OC" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="OM" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PT" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="PA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="QU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RM" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="RU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SM" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SG" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="GD" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SH" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ST" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SN" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SD" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SK" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SU" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SW" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="SV" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TL" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TG" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TA" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TT" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TE" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TH" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="BO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TS" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TK" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="TW" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UG" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UK" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UR" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="UZ" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="VI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="VO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="CY" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="WO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="XH" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="YI" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="YO" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="ZU" nillable="false" type="xsd:string"/>

        </xsd:all>
    </xsd:complexType>
    <xsd:complexType abstract="false" mixed="false" name="XPATH_ELEMENT">
        <xsd:sequence maxOccurs="1" minOccurs="1">
            <xsd:element maxOccurs="1" minOccurs="1" name="Name" nillable="false" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="Description" nillable="false" type="DESCRIPTION"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="XPath" nillable="false" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="DATA_TYPE">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RangeOfDates"/>
            <xsd:enumeration value="StringContains"/>
            <xsd:enumeration value="StringEquals"/>
            <xsd:enumeration value="RangeOfMillis"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
