org.talend.mdm.repository/src/main/java/org/talend/mdm/repository/utils/test/testkeys.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
<xsd:element name="eee">
<xsd:complexType>
<xsd:all>
<xsd:element name="subelement" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="fff" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="eee" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="ddd" type="xsd:string"/>
            </xsd:all>
</xsd:complexType>
<xsd:unique name="eee">
<xsd:selector xpath="."/>
<xsd:field xpath="subelement"/>
</xsd:unique>
</xsd:element>
</xsd:schema>
