org.talend.mdm.repository/resources/demoprojects/java/PRODUCTDEMO/MDM/datamodel/Product_0.1.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">  
  <xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>  
  <xsd:element name="Product"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_Label_EN">Product</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Produit</xsd:appinfo>  
        
        
      <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
      <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
      <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
    






<xsd:appinfo source="X_Lookup_Field">Product/Availability</xsd:appinfo>
<xsd:appinfo source="X_PrimaryKeyInfo">Product/Name</xsd:appinfo>
<xsd:appinfo source="X_PrimaryKeyInfo">Product/Description</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all maxOccurs="1" minOccurs="1"> 
        <xsd:element maxOccurs="1" minOccurs="0" name="Picture" type="PICTURE"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Picture</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Image</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Unique Id</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Id unique</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Description" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Description</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Description</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="Features"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Features</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Caractéristiques</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation>  
          <xsd:complexType> 
            <xsd:all> 
              <xsd:element maxOccurs="1" minOccurs="0" name="Sizes"> 
                <xsd:annotation> 
                  <xsd:appinfo source="X_Label_EN">Sizes</xsd:appinfo>  
                  <xsd:appinfo source="X_Label_FR">Tailles</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_EN">A product may be available in more than one size.</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_FR">Un produit peut être disponible dans plusieurs tailles.</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
                <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation>  
                <xsd:complexType> 
                  <xsd:sequence> 
                    <xsd:element maxOccurs="unbounded" name="Size" type="Size"> 
                      <xsd:annotation> 
                        <xsd:appinfo source="X_Label_EN">Size</xsd:appinfo>  
                        <xsd:appinfo source="X_Label_FR">Taille</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
                      <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
                    </xsd:element> 
                  </xsd:sequence> 
                </xsd:complexType> 
              </xsd:element>  
              <xsd:element maxOccurs="1" minOccurs="0" name="Colors"> 
                <xsd:annotation> 
                  <xsd:appinfo source="X_Label_EN">Colors</xsd:appinfo>  
                  <xsd:appinfo source="X_Label_FR">Couleurs</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_EN">A product can be available in more than one color.</xsd:appinfo>  
                  <xsd:appinfo source="X_Description_FR">Un produit peut être disponible dans plusieurs couleurs.</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
                  <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
                <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation>  
                <xsd:complexType> 
                  <xsd:sequence> 
                    <xsd:element maxOccurs="unbounded" name="Color" type="Color"> 
                      <xsd:annotation> 
                        <xsd:appinfo source="X_Label_EN">Color</xsd:appinfo>  
                        <xsd:appinfo source="X_Label_FR">Couleur</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
                        <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
                      <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
                    </xsd:element> 
                  </xsd:sequence> 
                </xsd:complexType> 
              </xsd:element> 
            </xsd:all> 
          </xsd:complexType> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="Availability" type="xsd:boolean"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Availability</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Disponibilité</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Price" type="xsd:decimal"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Price</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Prix</xsd:appinfo>  
            <xsd:appinfo source="X_Description_EN">Run a price request to change this price</xsd:appinfo>  
            <xsd:appinfo source="X_Description_FR">Faites une demande de changement de prix pour modifier</xsd:appinfo>  
              
              
             
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Writable</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Writable</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="0" name="Family" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_ForeignKey">ProductFamily/Id</xsd:appinfo>  
            <xsd:appinfo source="X_Label_EN">Family</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Famille</xsd:appinfo>  
            <xsd:appinfo source="X_ForeignKeyInfo">ProductFamily/Name</xsd:appinfo>  
            <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          <xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OnlineStore" type="URL"> 
          <xsd:annotation> 
              
              
             
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Stores"> 
          <xsd:annotation> 
              
              
              
            <xsd:appinfo source="X_Label_EN">Stores</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Magasins</xsd:appinfo> 
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation>  
          <xsd:complexType> 
            <xsd:sequence> 
              <xsd:element maxOccurs="unbounded" minOccurs="0" name="Store" type="xsd:string"> 
                <xsd:annotation> 
                  <xsd:appinfo source="X_Label_EN">Store</xsd:appinfo>  
                  <xsd:appinfo source="X_Label_FR">Magasin</xsd:appinfo>  
                  <xsd:appinfo source="X_ForeignKey">Store/Id</xsd:appinfo>  
                  <xsd:appinfo source="X_ForeignKeyInfo">Store/Address</xsd:appinfo>  
                  <xsd:appinfo source="X_Retrieve_FKinfos">true</xsd:appinfo> 
                <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_User</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_User#Product_Product_1.0#Read-only</xsd:appinfo>
<xsd:appinfo source="X_Workflow">Demo_Manager#Product_Product_1.0#Read-only</xsd:appinfo>
</xsd:annotation> 
              </xsd:element> 
            </xsd:sequence> 
          </xsd:complexType> 
        </xsd:element>     
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="Product"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="Id"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:simpleType name="Size"> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="Small"/>  
      <xsd:enumeration value="Medium"/>  
      <xsd:enumeration value="Large"/>  
      <xsd:enumeration value="X-Large"/> 
    </xsd:restriction> 
  </xsd:simpleType>  
  <xsd:simpleType name="Color"> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="White"/>  
      <xsd:enumeration value="Light Blue"/>  
      <xsd:enumeration value="Light Pink"/>  
      <xsd:enumeration value="Lemon"/>  
      <xsd:enumeration value="Khaki"/> 
    </xsd:restriction> 
  </xsd:simpleType>  
  <xsd:simpleType name="PICTURE"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:element name="ProductFamily"> 
    <xsd:annotation> 
      <xsd:appinfo source="X_Label_EN">Product Family</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Famille Produit</xsd:appinfo>  
      <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
      <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
      <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
    <xsd:appinfo source="X_PrimaryKeyInfo">ProductFamily/Name</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all maxOccurs="1" minOccurs="1"> 
        <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="AUTO_INCREMENT"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Id (sequence)</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Id (séquence)</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="1" name="Name" type="xsd:string"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Name</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Nom</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="ChangeStatus" type="Status"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Hide">Demo_User</xsd:appinfo>  
            <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>  
            <xsd:appinfo source="X_Write">Demo_User</xsd:appinfo> 
          </xsd:annotation> 
        </xsd:element> 
      </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="ProductFamily"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="Id"/> 
    </xsd:unique> 
  </xsd:element>  
  <xsd:simpleType name="AUTO_INCREMENT"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:simpleType name="URL"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:simpleType name="UUID"> 
    <xsd:restriction base="xsd:string"/> 
  </xsd:simpleType>  
  <xsd:simpleType name="Status"> 
    <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="Pending"/>  
      <xsd:enumeration value="Rejected"/>  
      <xsd:enumeration value="Approved"/> 
    </xsd:restriction> 
  </xsd:simpleType>  
  <xsd:element name="Store"> 
    <xsd:annotation> 
        
        
      <xsd:appinfo source="X_Label_EN">Store</xsd:appinfo>  
      <xsd:appinfo source="X_Label_FR">Magasin</xsd:appinfo> 
    <xsd:appinfo source="X_PrimaryKeyInfo">Store/Address</xsd:appinfo>
<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
</xsd:annotation>  
    <xsd:complexType> 
      <xsd:all> 
        <xsd:element maxOccurs="1" minOccurs="1" name="Id" type="xsd:string"> 
          <xsd:annotation> 
              
              
            <xsd:appinfo source="X_Label_EN">Store Id</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Id Magasin</xsd:appinfo> 
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
        <xsd:element maxOccurs="1" minOccurs="0" name="Address" type="xsd:string"> 
          <xsd:annotation> 
              
              
            <xsd:appinfo source="X_Label_EN">Address</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Addresse</xsd:appinfo>  
            <xsd:appinfo source="X_Description_EN">Enter the complete address of the store</xsd:appinfo>  
            <xsd:appinfo source="X_Description_FR">Entrer l'adresse complète du magasin</xsd:appinfo> 
          <xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
<xsd:appinfo source="X_Write">Demo_Manager</xsd:appinfo>
</xsd:annotation> 
        </xsd:element>  
                <xsd:element maxOccurs="1" minOccurs="0" name="Lat" type="xsd:double">
<xsd:annotation>


<xsd:appinfo source="X_Label_EN">Latitude</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Latitude</xsd:appinfo>


<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Long" type="xsd:double">
<xsd:annotation>


<xsd:appinfo source="X_Label_EN">Longitude</xsd:appinfo>
<xsd:appinfo source="X_Label_FR">Longitude</xsd:appinfo>


<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation>
</xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Map" type="URL"> 
          <xsd:annotation> 
            <xsd:appinfo source="X_Label_EN">Location</xsd:appinfo>  
            <xsd:appinfo source="X_Label_FR">Localisation</xsd:appinfo>  
             
          



<xsd:appinfo source="X_Write">System_Admin</xsd:appinfo>
</xsd:annotation> 
        </xsd:element> 
            </xsd:all> 
    </xsd:complexType>  
    <xsd:unique name="Store"> 
      <xsd:selector xpath="."/>  
      <xsd:field xpath="Id"/> 
    </xsd:unique> 
  </xsd:element> 
</xsd:schema>
